<div id="menuOptions">
    <a href="/"><div><p class="mOptionText">Home</p></div></a>
    <a href="/api/users/members"><div><p class="mOptionText">Members</p></div></a>
    <a href="/api/users/transactions"><div><p class="mOptionText">Transactions</p></div></a>
    <a href="/api/users/memberFees"><div><p class="mOptionText">Member Fees</p></div></a>
    <a href="/api/users/reports"><div><p class="mOptionText">Reports</p></div></a>
    <a href="/api/users/memberInvoices"><div><p class="mOptionText">Invoices</p></div></a>
</div>