<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Create Daily Summary</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
                <a href="javascript:history.back()"><h2>Back</h2></a>
            </div>
            <div id="title">
                <h1>Create Daily Summary</h1>
            </div>
            <div id="menu">
                <div id="menuText">
                    <h2>Menu</h2>
                </div>
            </div>
            <div id="menuOptions">
                <a href="/"><div><p class="mOptionText">Home</p></div></a>
                <a href="/api/users/login"><div><p class="mOptionText">Log In</p></div></a>
            </div>
        </div>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="form">
                <form role="form" method="POST" action="/api/users/createDailySummary">
                    <h2>Enter Date</h2>
                    <br>
                    <div>
                        <input type="text" name="year" id="year" placeholder=" Enter Summary Year">
                    </div>
                    <br>
                    <div>
                        <label for="month">Select Month</label>
                        <select name="month" id="month">
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <input type="text" name="day" id="day" placeholder=" Enter Day">
                    </div>
                    <br>
                    <div class="row">
                    <div>
                        <button type="submit" id="create">Create</button>
                    </div>
                    </div>
                    <br>
                </form>
                <div class="row">
                    <div>
                        <hr>
                        <br>
                        <input type="button" value="Cancel" onclick="window.location.href='/'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>