<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Members</title>
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="nav">
                <a href="javascript:history.back()"><h2>Back</h2></a>
            </div>
            <div id="title">
                <h1>Members</h1>
            </div>
            <%- include ('../partials/menuOptions') %>
        </div>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="form">
                <form role="form" method="POST" action="/api/users/findMember">
                    <h2>Search For Member</h2>
                    <br>
                    <div>
                        <input type="email" name="memberEmail" id="memberEmail" placeholder=" Enter Member Email">
                    </div>
                    <br>
                    <div class="row">
                    <div>
                        <button type="submit" id="Search">Search</button>
                    </div>
                    </div>
                    <br>
                </form>
                <div class="row">
                    <div>
                        <hr>
                        <br>
                        <form role="form" method="POST" action="/api/users/newMember">
                            <input type="text" value="" id="blankMember" style="display: none;">
                            <button type="submit" id="newMemButton">New Member</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>