<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Member Fees</title>
</head>
<body>
    <div id="app">
        <%- include('../partials/header',{nav:"nav", title:"Member Fees", menu:"menu"}) %>
        <div id="main">
            <div id="errorField">
                <% if (error !== null){ %>
                    <p style="color:red; font-size: 20px;"><%= error %> </p>
                <% } %>
            </div>
            <div id="form">
                <form role="form" method="POST" action="/api/users/findMemberFee">
                    <h2>Search For Fee</h2>
                    <br>
                    <div>
                        <input type="text" name="feeType" id="feeType" placeholder=" Enter Fee Type">
                    </div>
                    <br>
                    <div class="row">
                    <div>
                        <button type="submit" id="Search">Search</button>
                    </div>
                    </div>
                    <br>
                </form>
                <div class="row">
                    <div>
                        <hr>
                        <br>
                        <form role="form" method="POST" action="/api/users/newMemberFee">
                            <input type="text" value="" id="blankMember" style="display: none;">
                            <button type="submit" id="newMemButton">New Fee</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>