<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/login-register.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/menu.css" type="text/css">
    <title>Reports</title>
</head>
<body>
    <div id="app">
        <%- include('../partials/header',{nav:"nav", title:"Reports", menu:"menu"}) %>
        <div id="main">
            <div id="createNewMemberForm">
                <form role="form" method="POST" action="/api/users/selectReport">
                    <h2 style="text-align: center;">Create Invoice For Member</h2>
                    <br>
                    <div class="columns">
                        <div class="membersColumn1">
                            <label for="reportType">Select Report</label>
                        </div>
                        <div class="membersColumn2">
                            <select name="reportType" id="reportType">
                                <option value="users/createMonthlySummary">Monthly Summary</option>
                                <option value="users/createDailySummary">Daily Summary</option>
                                <option value="users/createMonthlyMemberSales">Monthly Member Sales</option>
                            </select>
                        </div>
                        <div class="column1" style="text-align: center;">
                            <button type="submit" id="submit">Submit</button>
                        </div>
                        <div class="column2" style="text-align: center;">
                            <input type="button" value="Cancel" onclick="window.location.href='/'">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>